body{
    background-color: #045033;
    font-family: 'Catamaran', sans-serif;
}

.navbar{
    background-color: #045033 !important;
    /* background-color: #015450 !important; */
}

.navbar .container {
}

#navbarSupportedContent {
    justify-content: flex-end;
}

.nav-item{
    margin-left: 5px ;
}

.home-info{
    background-color: blue;
}

.large-text{
    font-size: 45px;
}

.about-container{
    position: relative;
}

.about-img{
    opacity: 0.6;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text{
    margin: 10px auto;
    color: #fff;
    position: absolute;
}

.education-container h2,
.education-container h6,
.experience-container h2,
.experience-container h6 {
    color: #fff;
}

.education-block{
    color: #fff;
    padding: 10px;
    text-align: justify;
}

.albaath-img{
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
    0%{-webkit-transform: scale(1);}
    50%{-webkit-transform: scale(1.05);}
}
@-moz-keyframes spin {
    0%{-webkit-transform: scale(1);}
    50%{-webkit-transform: scale(1.05);}
}
@keyframes spin {
    0%{-webkit-transform: scale(1);}
    50%{-webkit-transform: scale(1.05);}
}

.experience-block {
    color: #045033;
    background-color: #fff;
    margin-top: 25px;
    padding: 20px;
    /* height: calc(100% - 25px); */
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.experience-details-block p {
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .about-text{
        position: relative;
        display: block;
    }

    .about-img{
        opacity: 1;
    }

    .education-img{
        margin: 0 auto;
    }

    .expImgContainer{
        padding: 0;
        opacity: 0.3;
        position: absolute;
        display: none;
    }
    .expTxtContainer{
        padding: 0;
        /* margin-top: 40px; */
        background-image: url(/assets/images/filanovskogo.jpg);
        background-size: cover;
    }

    .experience-block{
        background: none;
        color: #fff;
    }
}

@media screen and (max-width: 768px) {
    .education-img{
        width: 60% !important;
    }
}

.expImgContainer{
    margin-top: 25px;
}

.expTxtContainer{
    /* background-color: #fff; */
}

.fas {
    border: 1px solid #045033;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.fas:hover{
    background-color: #045033;
    color: #fff;
}

.experience-details-block {
    display: none;
}